@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@100;300;500&family=Roboto:ital,wght@0,500;1,100&display=swap");

.sticky {
  transform: translateY(0%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  color: var(--dark);
  background-color: var(--navbar);
  transition: all 0.4s linear;
}

.sticky .nav-bar .nav-bar-links .links {
  color: var(--dark);
}
.nav-bar {
  height: 50px;
  width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.nav-bar .left-nav {
  display: flex;
  align-items: center;
}
.nav-bar .menu {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

.nav-bar .image-logo {
  width: 20rem;
}
.nav-bar .left-nav .cart-area {
  display: none;
}

.search-input {
  flex: 2;
  position: relative;
  text-align: center;
}

.search-input .search-icon {
  position: absolute;
  font-size: 2rem;
  left: 6%;
  top: 25%;
}

.search-input .search-bar {
  width: 90%;
  padding: 1rem 3rem;
  outline: none;
  border: 1px solid var(--search);
  border-radius: 8rem;
  font-size: 1.6rem;
  text-shadow: 2px 0px 10px rgba(153, 149, 149, 0.674);
}

.nav-bar .nav-bar-links {
  display: flex;
  gap: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.nav-bar .nav-bar-links .links {
  text-decoration: none;
  color: var(--links);
  font-family: "s";
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.nav-bar .nav-bar-links .links:hover {
  color: rgb(127, 91, 36);
  transition: 0.1s linear;
}
.nav-bar .nav-bar-links .links .icons {
  font-size: 2rem;
}
.nav-bar .nav-bar-links .cart-logo {
  display: flex;
  position: relative;
}

.nav-bar .nav-bar-links .icon-count {
  position: absolute;
  top: -50%;
  left: 20%;
  background-color: var(--cart);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--white);
}

.nav-list {
  display: flex;
  justify-content: center;
}
.nav-list ul {
  display: flex;
  gap: 5rem;
  padding: 1rem 0;
}
.nav-list ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 1.6rem;
  font-family: sans-serif;
}
.auth-section {
  display: none;
}
.common-style {
  display: none;
}
.nav-list ul li:hover > .common-style {
  display: flex;
  gap: 5rem;
  justify-content: space-evenly;
  background-color: rgb(254, 248, 248);
  position: absolute;
  z-index: 8888;
  top: 10.7%;
  left: 0%;
  width: 100%;
}

.top-slider {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 135, 34);
  border-radius: 50%;
  position: fixed;
  right: 1%;
  bottom: 2%;
  cursor: pointer;
  display: none;
}
.show-slide {
  display: flex;
  z-index: 88888;
}

@media screen and (max-width: 1198px) {
  .nav-bar .nav-bar-links {
    display: none;
  }
  .search-bar {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    height: 100px;
    width: 100vw;
    padding: 1rem 0;
    gap: 0.5rem;
    flex-direction: column;
    align-items: start;
  }
  .nav-bar .left-nav {
    width: 100vw;
    justify-content: space-evenly;
  }
  .nav-bar .left-nav .cart-area {
    display: flex;
    position: relative;
  }
  .nav-bar .left-nav .cart-area .cart {
    font-size: 2.1rem;
  }

  .nav-bar .left-nav .cart-area p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    top: -25%;
    left: 70%;
    background-color: var(--cart);
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .nav-bar .left-nav .menu {
    display: block;
    color: var(--cart);
  }
  .nav-bar .search-input {
    width: 100%;
  }
  .nav-bar .search-input .search-bar {
    width: 95%;
  }
  .search-input .search-icon {
    left: 4%;
  }

  .nav-bar .left-nav .menu {
    z-index: 99999999;
  }
  .nav-list {
    background-color: #141822;
    position: absolute;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    z-index: 9999;
    justify-content: center;
    transition: all 0.4s ease-in-out;
  }

  .show {
    left: 0;
    transition: all 0.6s;
  }
  .nav-list ul {
    flex-direction: column;
    align-items: center;
    color: var(--white);
  }

  .nav-list ul li h2 {
    color: var(--dark);
  }
  .nav-list ul li:hover > .common-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: rgb(248, 248, 248);
    position: absolute;
    z-index: 88888;
    top: 0%;
    left: 50%;
    width: 60vw;
    height: 100vh;
    overflow: auto;
    padding: 0 1rem;
  }
  .auth-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.5rem;
  }
  .auth-section p {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--cart);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-section p:hover {
    background-color: rgb(63, 111, 177);
    transition: all 0.2s linear;
  }
  .auth-section .auth-links {
    text-decoration: none;
    color: white;
  }
}
